@font-face {
    font-family: 'icomoon';
    src:
        url('fonts/icomoon.ttf?vubzab') format('truetype'),
        url('fonts/icomoon.woff?vubzab') format('woff'),
        url('fonts/icomoon.svg?vubzab#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #607D8B;
    font-size: 3em;
    padding: 0 20px 30px 20px;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e901";
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    font-size: .27em;
    animation: arrow 3s ease infinite;
    -webkit-animation: arrow 3s ease infinite;
    -moz-animation: arrow 3s ease infinite;
}

@keyframes arrow {
    0%   {bottom: 70px;} 
    20%  {bottom: 50px; opacity:0;}
    21%  {bottom: 90px; opacity:0;}
    41% {bottom: 70px; opacity: 1}  
    100% {bottom: 70px; opacity: 1}  
}

@-moz-keyframes arrow {
    0%   {bottom: 70px;} 
    20%  {bottom: 50px; opacity:0;}
    21%  {bottom: 90px; opacity:0;}
    41% {bottom: 70px; opacity: 1}  
    100% {bottom: 70px; opacity: 1}  
}

@-webkit-keyframes arrow {
    0%   {bottom: 70px;} 
    20%  {bottom: 50px; opacity:0;}
    21%  {bottom: 90px; opacity:0;}
    41% {bottom: 70px; opacity: 1}  
    100% {bottom: 70px; opacity: 1}  
}

.icon-ai:before {
    content: "\e900";
}

.icon-arrow-left:before{
    content: "\e902";
    font-size: .6em;
}
.icon-arrow-right:before {
    content: "\e903";
    font-size: .6em;
}

[dir='rtl'] .icon-arrow-left
{
    right: 30px;
    left: auto;
}
.icon-arrow-left{
    left: 30px;
}

.icon-arrow-right
{
    right: 30px;
}
[dir='rtl'] .icon-arrow-right
{
    right: auto;
    left: 30px;
}

.icon-arrow-left, .icon-arrow-right{
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    z-index: 999999;
    display: none !important;
}

.icon-arrow-left:hover:before, .icon-arrow-right:hover:before{
    color: #009688
}
.icon-bootstrap:before {
    content: "\e904";
}
.icon-browserify:before {
    content: "\e905";
}
.icon-css3:before {
    content: "\e906";
}
.icon-git:before {
    content: "\e907";
}

/*.icon-github, .icon-linkedin, .icon-twitter{
    padding: 0 5px;
}*/
.icon-github:before {
    content: "\e908";
    color: white;
    font-size: .6em;
}
.icon-html5:before {
    content: "\e909";
}
.icon-jquery:before {
    content: "\e90a";
}
.icon-js:before {
    content: "\e90b";
}
.icon-linkedin{
    font-size: 2.4em;
    position: relative;
    padding: 0;
    margin-left: 10px;
}
.icon-linkedin:before {
    content: "\e90c";
    color: #0082BD;
    font-size: .7em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.hi__txt:hover .icon-linkedin:before{
    color: #0082BD;
}
.icon-play {
    padding-bottom: 10px
}
.icon-play:before {
    content: "\e90d";
    color: #CFD8DC;
}
.icon-react:before {
    content: "\e90e";
}

.icon-rock:before {
    content: "\e90f";
    color: #CFD8DC;
}

.icon-sass:before {
    content: "\e910";
}
.icon-sketch:before {
    content: "\e911";
}
.icon-twitter:before {
    content: "\e912";
    color: white;
    font-size: .6em;
}

.icon-ps:before {
    content: "\e913";
}

.icon-wordpress:before {
    content: "\e914";
}

.icon-email{
    font-size: .8em;
    padding: 0 7px 0;
}

.icon-mobile{
    font-size: .9em;
    padding: 0 5px 0;
    position: relative;
    top: 1px
}

.icon-email:before {
    content: "\e915";
    color: white;
}

.icon-mobile:before {
    content: "\e916";
    color: white;
}
